body{
    background-color: green;
    font-family: 'Monaco',sans-serif;
    color: white;
}

/*后代选择器*/
body a{   
    color: white;
}

header{
    text-align: center;
    margin-top: 50px;
}

h3{
    color:red;
}

header-img{
    width: 400px;
}

header-words{
line-height: 10px;
font-size: 50px;
font-family: 'Monaco',sans-serif;
margin-bottom: 75px;
}
section{
    padding: 0 50px 0px 50px;
    text-align:left;
}

div{ 
    width: 200px;
    height: 200px;
    background: blue;
    /* border: 15px solid red; */
}
/* 

. 类
# id  唯一性 

*/

a{ 
    color: #000;
    font-size: 30px;
}
a:hover{ 
    color: green;
 }
 .abc{ 
    color: blue;
  }
  ul li:first-child{ 
    color: orange;
    background: blue;
}
ul li:last-child{ 
color: blue;
 background: orange;
}
ul li:nth-child(3){  
 color: green;
}
ul li:only-child{ 
color: red;
}
